body {
    padding: 1em 0;

    background: #A8A9AB url(/static/monkey.jpg) no-repeat left top;

    font-size: 1em;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, #main, footer {
    text-align: center;
}
#main {
    margin-top: 2em;
    min-height: 250px;
}

#tabs {
    margin: 0 auto;
    width: 500px;
}
.yui3-tab-panel {
    padding: 1em;
}
.yui3-tab-label {
    font-size: 1.1em;
}


h1, h2 {
    text-shadow: 3px 3px 5px #A8A9AB;
}
h1 {
    margin-bottom: 0.25em;

    color: #FDA13C;
    font-size: 2.5em;
}
h2 {
    margin: 0.5em 0 0.15em;

    font-size: 1.5em;
}

em {
    font-weight: bold;
}

#tempChart {
    width: 90%;
    height: 400px;
}

footer {
    margin-top: 1em;
    font-size: 0.75em;
    color: white;
}