body {
    padding: 1em 0;

    background-color: #F0F0F0;

    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, #main {
    text-align: center;
}
#main {
    margin-top: 2em;
}

#tabs {
    margin: 0 auto;
    max-width: 400px;
}
.yui3-skin-sam #main .yui3-tab-label {
    font-size: 1.2em;
}
.yui3-tab-panel {
    padding: 1em;
}


h1, h2 {
    text-shadow: 3px 3px 5px #333;
}
h1 {
    margin-bottom: 0.25em;

    color: #2647A0;
    font-size: 2em;
}
h2 {
    margin-bottom: 0.15em;

    font-size: 1.5em;
}
