$def with (control, temperature, schedule)
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <title>Jay's Webmostat</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?3.8.0/build/cssreset/cssreset-min.css&3.8.0/build/cssfonts/cssfonts-min.css&3.8.0/build/cssgrids/cssgrids-min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="yui3-skin-sam">

<header><h1>Jay's Webmostat</h1></header>

<div id="main">
  <div id="tabs">
      <ul>
        <li><a href="#control">Control</a></li>
        <li><a href="#temperature">Temperature</a></li>
        <li><a href="#schedule">Schedule</a></li>
      </ul>
      <div>
        <div id="control">
            $:control
        </div>
        <div id="temperature">
            $:temperature
        </div>
        <div id="schedule">
            $:schedule
        </div>
      </div>
  </div>
</div>

<footer><p id="credit">Background image credit: Wu Hong / EPA (taken from <a href="http://photoblog.nbcnews.com/_news/2011/01/06/5775964-squirrel-monkeys-find-radiator-warmth?lite">nbcnews.com</a>)</p></footer>

<script src="http://yui.yahooapis.com/3.8.0/build/yui/yui-min.js"></script>
<script src="/static/webmostat.js"></script>
<script>
YUI().use('webmostat', function(Y) {
    new Y.Webmostat().run();
});
</script>

</body>
</html>
